@import "./common/common";
body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre,
xmp {
  margin: 0;
  padding: 0; }

ul, li, ol, li {
  list-style: none; }
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
  font-size: .16rem;
}
html{
  font-family: "Microsoft YaHei";
}
body,html{
  @include full;
  background: #F0F0F0;
}
b,i,em{
  font-weight: normal;
  font-style: normal;
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  html, body {
    font-size: 920%; } }
@media screen and (min-width: 1024px) {
  html, body {
    font-size:630%; } }
@media screen and (min-width: 375px) and (max-width: 767px) {
  html, body {
    font-size:625%; } }
@media screen and (max-width: 374px) and (min-width: 321px) {
  html, body {
    font-size: 580%; } }
@media screen and (max-width: 320px) {
  html, body {
    font-size: 480%; } }
.yofont{
  font-family:"iconfont";
}
.wrap{
  @include full;
  .header{
    width: 100%;
    height: 1.17rem;
    background: url(../../../img/bguser.jpg) no-repeat;
    background-size: 100% 100%; 
    position: relative;
    span{
      position: absolute;
      right:.1rem;
      top:.1rem;
      display:block;
      width: .5rem;
      height: .28rem;
      line-height: .28rem;
      background: rgba(0,0,0,0.5);
      color: #fff;
      border-radius: .25rem;
      font-size: .13rem;
      text-align: center;
    }
    P{
      font-size: .18rem;
      position: absolute;
      bottom: .1rem;
      left:1.2rem; 
      color: #fff;  
    }
    .title{
      width: .8rem;
      height: .8rem;
      border-radius: 100%;
      overflow: hidden;
      position: absolute;
      bottom:-.4rem;
      left:.2rem;
      border:1px solid #fff;
      box-sizing: border-box;
      img{
        display: block;
        @include full;
      }   
    }
  }
  .user-behavior{
    width: 100%;  
    height: .55rem; 
    ul{
      @include full;
      @include boxflex;
      font-size: .14rem;
      background: #fff;
      li{
        @include flex;
        margin: .1rem  0;
        border-right: 1px solid #e7e7e7;
        span,b{
          display: block;
          text-align: center; 
          color: #051b28;
        }
        &:first-child,&:last-child{
          border:none;
        }
      }
    }
  }
  .order-act{
    width: 100%;
    height: 1.08rem;
    background: #fff;
    margin: .15rem 0;
    font-size: .16rem;
    ul{
      width: 100%;
      height: .68rem;
      border-bottom: 1px solid #e7e7e7;
      box-sizing: border-box;
      @include boxflex;
      -webkit-align-items:center;
      justify-content: center;
      text-align: center;
      li{
        @include flex;
        span,b{
          display: block;
          color: #a2a2a2;
        }
        span{
          font-size: .2rem;
        }
        b{
          font-size: .13rem;
          @include boxflex;
          justify-content: center;

        }
      }
    }
    p{
      width: 100%;
      height: .4rem;
      @include boxflex;
      justify-content: space-between;
      -webkit-align-items:center;
      span{
        display: inline-block;
        background: #5090CD;
        width: .25rem;
        height: .25rem;
        color: #fff;
        font-size: .18rem;
        border-radius: .02rem;
        margin: 0 .1rem;
        text-align: center;
        line-height: .25rem;
      }
      b
      {
         color: #999;
      }
      i{
        font-size: .13rem;
        color: #666;
        padding-right: .1rem;
      }
    }
  }
  .core-entry{
    width: 100%;
    height: 1.6rem;
    background: #fff;
    ul{
      font-size: .16rem;
      @include full;
      @include boxflex;
      @include flex-direction(column);
      li{
        @include flex;
        @include boxflex;
        -webkit-align-items:center;
          border-top: 1px solid #e7e7e7;

        span{
          width: .25rem;
          height: .25rem;
          color: #fff;
          font-size: .18rem;
          border-radius: .02rem;
          margin: 0 .1rem;
          text-align: center;
          line-height: .25rem;
        }
        b{
          @include flex;
          @include boxflex;
          justify-content: space-between;
          -webkit-align-items:center;
          color: #999;
          em{
            padding-right: .1rem;
            color: #666;
            font-size: .13rem;
          }
        }
      }
      .co1{
        background: #E7A200;
      }
      .co2{
        background: #5090CD;
      }
      .co3,.co4{
        background: #00AEEF;
      }
    }
  }
  .core-entry2{
    width: 100%;
    height: .8rem;
    margin: .15rem 0;
  }
  .exit{
    width: 100%;
    height: .44rem;
    background: #fff;
    ul{
      @include full;
      @include boxflex;
      font-size: .16rem;
      li{
        @include flex;
        text-align: center;
        b{
          border-right:1px solid #e7e7e7;
          display: block;
          width: 100%; 
          margin: .1rem 0;
          color: #999;
        }
        &:last-child{
          b{
            border:none;
          }
        }
      }
    }
  }
}